@media only screen and (max-width: 700px){
  .slideshow{
    text-align: center;
  }

  .slideshow .profile-image{
    width: 70%;
    margin: 1px 1px 1px 1px;
    padding: 5px 5px 5px 5px;
  }

  .toggle-button {
    font-size: 15px;
  }

  .toggler-images {
    text-align: center;
    margin-bottom: 15px;
  }

  .circle {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #fff;
    display: inline-block;
    margin: 2px;
  }

  .timeline{
    width: 90%;
    margin-left: 5%;
    height: 60%;
  }

  .timeline .contents {
    padding-left: 0px;
    padding-right: 15px;
    text-align: justify;
  }
}
